This file contains established rules that the finished game must comply with.

1. This is not going to be a horror game. Determined 10/6/2017
2. It also won't be a 3D game. We need to start small. Determined 10/8/2017
